<form {{action "saveRoutine" on "submit"}}>
  <label for="">Give your routine a name</label>
  {{input type="text" value=name placeholder="ex: Upper Body, Arms..."}}
  
  <label for="">What days will you do this routine?</label>
  {{view "routine-days"}}

  <label for="">Add some workouts</label>
  {{view "autocomplete" placeholder="Start typing..." controllerBinding="controller"}}
  <ul class="link-list">
    {{#each workout in workouts}}
      <li>
        <div class="flex-row">
          <span class="flex padded">{{workout.name}}</span>
          <a href="#" class="red" {{action "removeWorkout" workout}}>&cross;</a>
        </div>
      </li>
    {{/each}}
  </ul>

  <section class="form-actions">
    <button class="button button-green" type="submit">Save</button>
    {{#link-to "routines" class="button"}}Cancel{{/link-to}}
  </section>
</form>