<div class="header">
  <div class="title">{{title}}</div>
  <a class="menu-icon" href="" {{action 'toggleMenu'}}>&#8647;</a>
  
  <div class="menu">
    <div class="actions">
      <a class="menu-icon" href="" {{action 'toggleMenu'}}>&#8647;</a>
      <a class="menu-close-icon" href="" {{action 'toggleMenu'}}>></a>
    </div>
    <ul class="link-list">
      <li {{action "toggleMenu"}}>{{#link-to-animated 'week' '2014-02-03' animations="main:fade"}}This Week{{/link-to-animated}}</li>
    </ul>
  </div>
</div>