<ul class="week-list">
	{{#each day in days itemController="day"}}
		<li>
			{{#link-to-animated "day" day.dateForUrl class=day.status animations="main:fade"}}
				<div class="day">{{format-date day.date format="dddd"}}</div>
				<div class="date">{{format-date day.date format="MMM D"}}</div>
				<div class="routine">{{day.totalRoutines}} Routines</div>
				<div class="workouts">
					{{#if day.totalWorkouts}}
						{{day.totalWorkouts}} Workouts
					{{else}}
						Rest Day
					{{/if}}
				</div>
				<div {{bind-attr class=":status-container day.status"}}>
					<span>{{get-status-icon day.status}}</span>
				</div>
			{{/link-to-animated}}
		</li>
	{{/each}}
</ul>